# Ignore Python-related files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
env/

# Ignore environment configuration
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
